.statisticsPanel {
  width: 16%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: linear-gradient(145deg, #1e2127, #323741);
  box-shadow: 25px 0 60px #393f4a, inset -25px 0 50px #17191e,
    inset 25px 0 50px #17191e;
  font-size: calc(var(--unit) / 5);
  color: rgb(150, 200, 200);
}

.statisticsPanelHeadline {
  margin: 24px 0;
  font-size: calc(var(--unit) / 4);
}

.infoTitle {
  margin: 0;
  width: 75%;
  text-align: center;
  border: 1px solid rgb(148, 148, 172);
  border-radius: 12px;
  box-shadow: 0 0 60px 5px rgb(148, 148, 172);
  padding: 12px;
}

.infoValue {
  margin: 2px 0;
  text-align: center;
  color: #8ee177;
}

