.keyboard {
  width: calc(var(--unit) * 14.7);
  height:  calc(var(--unit) * 4.2);
  margin: 20px auto 0;
  background-color: rgb(177, 188, 144);
  border: 5px solid rgb(148, 148, 172);
  border-radius: 15px;
  box-shadow: 0 0 50px 5px rgb(148, 148, 172);
}

